################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Talha.BookStore/Talha.BookStore/obj
/Talha.BookStore/.vs/Talha.BookStore
/Talha.BookStore/Talha.BookStore/bin/Debug/net8.0
