<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Talha's Book Store'</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>

<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        $("input[type='button']").click(function () {
            alert("Hello Brothers and Their Sisters");
        });
    });
</script>
