@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AboutUs</title>
</head>
<body>
	<h1>Welcome to Talha's Book Store</h1>
	<p>This is Contact Us section of our website. We are glad to have you here!</p>
</body>
</html>
