@{
    Layout = "_Layout";
}

<body class="container">
    <h1 class="h1">Welcome to Talha's Book Store</h1>
    <p>This is HomePage of our website. We are glad to have you here!</p>
    <p>Current Date and Time is : @DateTime.Now</p>

    @{	 
         var FirstName = "Talha"; 
         var LastName = "Siddiqui"; 
         var FullName = FirstName + " " + LastName;
     }
	<img src="~/images/my image.jpg" class="img" alt="My Image"/>
    <p>My Full Name is : @FullName</p>
    <p>I am inspiring to be a Software Engineer</p>
    <p>My Email is : talhasiddique083@gmail.com</p>

   @{
    var age = 23;

     <p>I am @(age > 21 ? "an Adult" : "a Youngester")</p>
   }
   <input type="button" value="Click me" class="btn btn-dark" />


</body>



